.container {
  margin-top: 20px;
}
img {
  width: 100px;
}
.table img {
  max-width: 100px;
  height: auto;
}
.button-group {
  display: flex;
  gap: 10px;
}

.btn-sm {
  padding: 5px 10px;
}
.priceTD {
  width: 80px;
}
input {
  margin: 5px 0;
}
textarea {
  margin: 5px 0;
}
.addButton {
  color: white;
  background-color: #567ca1;
}
