.container {
    margin-top: 20px;
  }
  
  .table img {
    max-width: 100px;
    height: auto;
  }
  .button-group {
    display: flex;
    gap: 10px; 
  }
  
  .btn-sm {
    padding: 5px 10px; 
  }